<table id="items">
  <tr>
    <th>Items TO-DO</th>
  </tr>
  <tr>
    <th>Description</th>
    <th>Due date</th>
    <th>Priority</th>
  </tr>
  <tr *ngFor="let item of itemList">
    <td>
      <input type="text" [value]="item.description">
    </td>
    
    <td>
      <input type="text" [value]="item.dueDate">
    </td>
    
    <td>
      <input type="text" [value]="item.priority">
    </td>

    <td>
      <button (click)="remove(item.item_id)">Remove</button>
      <button (click)="update(item.item_id, item)">Update</button>

    </td>
  </tr>
  <tr>
    <td>
      <input type="text">
    </td>

    <td>
      <input type="text">
    </td>

    <td>
      <input type="text">

    </td>
    <td>
      <button (click)="add()" [disabled]="checkFields()">+</button>
    </td>


  </tr>
</table>