<table id="items">
  <tr>
    <th>Items TO-DO</th>
  </tr>
  <tr>
    <th>Description</th>
    <th>Due date</th>
    <th>Priority</th>
  </tr>
  <tr *ngFor="let item of itemList">
    <td>
      <input type="text" [value]="item.description">
    </td>

    <td>
      <input type="date" [ngModel]="item.due_date | date:'yyyy-MM-dd'">
    </td>

    <td>
      <select [(ngModel)]="item.priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </td>

    <td>
      <button (click)="remove(item.item_id)">Remove</button>
      <button (click)="update(item.item_id, item)">Update</button>

    </td>
  </tr>
  <tr>
    <td>
      <input type="text" [(ngModel)]="description">
    </td>

    <td>
      <input type="date" [(ngModel)]="dueDate">
    </td>

    <td>
      <select [(ngModel)]="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </td>
    <td>
      <button (click)="add(description,dueDate,priority)" [disabled]="checkFields()">+</button>
    </td>


  </tr>
</table>